.custom-img {
  width: 50%;
  height: auto;
}
body {
  background-color: #eeeff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 100px;
  font-family: 'Inter', sans-serif;

}
.section{
  text-align: center;
}
