<body xmlns:cursor="http://www.w3.org/1999/xhtml">
<div class="container py-10">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header text-center">
          <img src="/assets/BL.png" class="img-fluid custom-img p-0 mt-4">
          <h1 class="panel-title p-4 m-1 mt-2">Register for an account</h1>
        </div>
        <div class="card-body">
          <form class="form-horizontal"
                #userLogin="ngForm"
                (ngSubmit)="userLogin.form.valid && onSubmit()" novalidate>
            <h5 class="panel-title text-center m-1">Simply fill out the form below.</h5>
            <div class="form-group">
              <label class="control-label col-sm-2"></label>
              <div class="col-sm-8 m-0 mx-auto text-center">
                <input type="text" class="form-control m-lg-1" [(ngModel)]="user.name" required #name="ngModel" placeholder="Name*">
              </div>
            </div>
            <div class="form-group"
                 [ngClass]="{ 'has-error':userLogin.submitted && !email.valid }">

              <label class="control-label col-sm-2 text-center"></label>
              <div class="col-sm-8 m-0 mx-auto text-center">
                <input type="email" class="form-control m-lg-1" [(ngModel)]="user.email" required #email="ngModel" placeholder="E-mail*">
              </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error':userLogin.submitted && !password.valid }">
              <label class="control-label col-sm-2" ></label>
              <div class="col-sm-8 m-0 mx-auto text-center">
                <div class="position-relative">
                  <input type="password" class="form-control m-lg-1 pr-5" [(ngModel)]="user.password" required #password="ngModel" placeholder="Password*">
                  <button class="btn btn-outline-secondary border-0 position-absolute" style="right: 5px; top: 50%; transform: translateY(-50%);" type="button" (click)="togglePasswordVisibility()">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error':userLogin.submitted && !password.valid }">
              <label class="control-label col-sm-2" ></label>
              <div class="col-sm-8 m-0 mx-auto text-center">
                <div class="position-relative">
                  <input type="password" class="form-control m-lg-1 pr-5" [(ngModel)]="user.password" required #password="ngModel" placeholder="Password(confirm)*">
                  <button class="btn btn-outline-secondary border-0 position-absolute" style="right: 5px; top: 50%; transform: translateY(-50%);" type="button" (click)="togglePasswordVisibility()">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>

<!--            <div *ngIf="errorMsg">-->
<!--              {{errorMsg}}-->
<!--            </div>-->
            <br/>
            <!--Boutton-->
            <div class="form-group p-2 m-10">
              <div class="col-sm-offset-2 col-sm-16 text-center">
                <button type="submit" class="btn btn-primary">CREATE ACCOUNT</button>
              </div>
            </div>
            <div class="col-sm-offset-2 col-sm-16 text-center">
              <h4 class="panel-title p-1 m-2">Already have an account?</h4>
            </div>
            <div class="form-group text-center">
              <div class="col-sm-offset-2 col-sm-13">
                <a href="" [routerLink]="['/login']" style="cursor: pointer;">Sign in here</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
