*{
}
.example-container{
  background-color:#EEF3F8 ;
}
.example-sidenav{
  background-color: white;
  width: 23vh;
}
.mat-sidenav-container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}
.m-lg-auto{
  color: black;
  justify-content: space-evenly;
  margin: 500px;
}
.image-fluid {
  width: 10%;
  height: auto;
}
.full-width {
  width: 100%;
}

.parent {
  font-size: 70px;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 50px;
}

.submenu.expanded {
  transform: scaleY(1);
}
.mat-toolbar {
  background-color: #d6dadf;
  color: black;
}
.mat-mdc-subheader{

}


