<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <a class="navbar-brand d-flex" href="index.html">
    <img src="assets/BL.png" alt="BL Call" class="image-fluid" />
  </a>
  <div class="justify-content-end">
  <span class="m-lg-auto">
<!--    <button mat-icon-button>-->
<!--      <mat-icon>search</mat-icon>-->
<!--    </button>-->
  </span>
    <span style="margin-left: 90vh;">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
  </span>
  </div>

</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>
      <div mat-subheader="" class="mat-mdc-subheader mdc-list-group__subheader nav-caption ng-star-inserted">HOME</div>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width align-right" *ngIf="isExpanded || isShowing" style="font-size: 90px;">
          <mat-icon mat-list-FAB style="margin-right: 20px;margin-left: 50px">home</mat-icon>
        </span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">test</a>
        <a mat-list-item href="...">test</a>
<!--        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">-->
<!--          <mat-list-item>SubSubmenu Item 1</mat-list-item>-->
<!--          <mat-list-item>SubSubmenu Item 2</mat-list-item>-->
<!--        </div>-->
      </div>
    </mat-nav-list>
    <mat-nav-list>
      <div mat-subheader="" class="mat-mdc-subheader mdc-list-group__subheader nav-caption ng-star-inserted">MESSAGES</div>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width align-right" *ngIf="isExpanded || isShowing" style="font-size: 90px;">
          <mat-icon mat-list style="margin-right: 20px;margin-left: 50px">message</mat-icon>
        </span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">test</a>
        <a mat-list-item href="...">test</a>
        <a mat-list-item href="...">test</a>
      </div>
    </mat-nav-list>
    <mat-nav-list>
    <div mat-subheader="" class="mat-mdc-subheader mdc-list-group__subheader nav-caption ng-star-inserted">VIDEO CALL</div>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width align-right" *ngIf="isExpanded || isShowing" style="font-size: 90px;">
          <mat-icon mat-list style="margin-right: 20px;margin-left: 50px">settings_cell</mat-icon>
        </span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">test</a>
        <a mat-list-item href="...">test</a>
      </div>
    </mat-nav-list>
    <mat-nav-list>
      <div mat-subheader="" class="mat-mdc-subheader mdc-list-group__subheader nav-caption ng-star-inserted">VIDEO CALL</div>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width align-right" *ngIf="isExpanded || isShowing" style="font-size: 90px;">
          <mat-icon mat-list style="margin-right: 20px;margin-left: 50px">settings_cell</mat-icon>
        </span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">test</a>
        <a mat-list-item href="...">test</a>
      </div>
    </mat-nav-list>
    <mat-nav-list>
      <div mat-subheader="" class="mat-mdc-subheader mdc-list-group__subheader nav-caption ng-star-inserted">PROFILE</div>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width align-right" *ngIf="isExpanded || isShowing" style="font-size: 90px;">
          <mat-icon mat-list style="margin-right: 20px;margin-left: 50px">settings_cell</mat-icon>
        </span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">test</a>
        <a mat-list-item href="...">test</a>
      </div>
    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>


